<app-loading [loading]="loading"></app-loading>
<div class="card" *ngIf="reviewing">
  <div class="card-body">
    <div class="word">
      <h1 (click)="showTranslations = !showTranslations">
        {{reviewing.word}}
        <small class="word-info">
          <i class="bi bi-info-circle-fill"></i>
        </small>
      </h1>
      <app-text-to-speech [text]="reviewing.word"></app-text-to-speech>
      <app-google-the-text [text]="reviewing.word"></app-google-the-text>
    </div>
    <div class="d-block text-center">
      <app-review-status [word]="reviewing"></app-review-status>
    </div>
    <div *ngIf="showTranslations">
      <app-translation-index [word]="reviewing" [loadTranslations]="false"></app-translation-index>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-warning float-start" (click)="setReviewStatus(false)">Forgotten</button>
    <button class="btn btn-success float-end" (click)="setReviewStatus(true)">Remembered</button>
  </div>
</div>
