<app-loading [loading]="loading"></app-loading>
<div class="card" *ngIf="reviewing">
  <div class="card-body">
    <h1 class="text-center word" (click)="showTranslations = !showTranslations">
      {{reviewing.word}}
      <small class="word-info">
        <i class="bi bi-info-circle-fill"></i>
      </small>
    </h1>
    <div *ngIf="showTranslations">
      <app-translation-index [word]="reviewing" [loadTranslations]="false"></app-translation-index>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-warning float-start" (click)="setReviewStatus(false)">Forgotten</button>
    <button class="btn btn-success float-end" (click)="setReviewStatus(true)">Remembered</button>
  </div>
</div>
