<div class="card-deck">
  <h5>Translations</h5>

  <div class="card mt-4" *ngFor="let translation of translations">
    <div class="card-body">
      <div class="row">
        <div class="mb-3 pb-3 border-bottom">
          <label for="translation" class="form-label text-primary">Translation</label>
          <div class="col-12 rtl align-right">
            {{translation.translation}}
          </div>
        </div>
        <div class="mb-3 pb-3 border-bottom">
          <label for="definition" class="form-label text-info">Definition: </label>
          <div class="col-12 ltr nl2br">
            {{translation.definition}}
          </div>
        </div>
        <div class="mb-3 pb-3">
          <label for="example" class="form-label text-warning">Example: </label>
          <div class="col-12 ltr nl2br">
            {{translation.example}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
