@import '../node_modules/ngx-simple-modal/styles/simple-modal.scss';
@import '~ngx-toastr/toastr';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.nl2br {
  white-space: pre-line;
}

.pointer {
  cursor: pointer;
}

.modal-full {
  display: inline-block;
  max-width: unset !important;
}

.actions {
  button {
    margin-right: 3px;
  }
}
