@import '../node_modules/ngx-simple-modal/styles/simple-modal.scss';
@import '~ngx-toastr/toastr';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.nl2br {
  white-space: pre-line;
}

.pointer {
  cursor: pointer;
}

.modal-full {
  display: inline-block;
  max-width: unset !important;
}
.modal-scrollable {
  .modal-body {
    height: 60vh;
    overflow-y: scroll;
  }
}

.actions {
  button {
    margin-right: 3px;
  }
}

.btn-wide {
  width: 11rem;
}
