.waiting {
  background-color: #959595a3;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  padding: 8%;
}

.hide {
  display: none;
}
